.banner_blogDetails {
    background-image: url('../project/images/blogDetailsPage/Banner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 351px;
}